<!DOCTYPE html>
<html lang="FR">
<head>
  <meta charset="utf-8">
  <title>Exercice 5 partie 4</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="assets/json/cars.json"></script>
  <script src="assets/js/index.js"></script>
</head>
<body ng-app="myApp" ng-controller="hideController">
  <div align="center">
    <input type="button" value="Afficher" ng-click="show()"/>
    <input type="button" value="Cacher" ng-click="hide()"/>
    <div class="showText" ng-hide="hideText">{{text}}</div>
  </div></body>
  </html>
